<a href="https://colab.research.google.com/github/VaibhavTiwa/Pyspark/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=6639d1a2e76a3c1a108f94284bb557649cacc58dc43b825ade2c09b9bffc326a
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## ***This is the Process to install pyspark***

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder\
      .master("local[1]") \
      .appName("vaibhav tiwari") \
      .getOrCreate()

# **HOW TO READ CSV IN PYSPARK**
âš¡

In [ ]:
df=spark.read.csv("/content/sparkcsv2.txt",header=True,inferSchema=True)
df.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   John|  25|         2|  2000|
|  Alice|  28|         5| 20000|
|    Bob|  32|         8| 19999|
|  Sarah|null|         1|  null|
|Michael|  37|        12|  3434|
|  Emily|  29|         6|   676|
|  David|  26|         3|  null|
|  Karen|  31|         7|  3434|
| Daniel|  24|         5|    34|
|    sam|null|      null|  null|
|   eaam|  23|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

# How to see the type of a data ***frame***:
âš™

In [ ]:
type(df)
df.columns
df.show()
df.head(2)
df.select(['experience','name']).show()

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|   John| 25|         2|
|  Alice| 28|         5|
|    Bob| 32|         8|
|  Sarah| 21|         1|
|Michael| 37|        12|
|  Emily| 29|         6|
|  David| 26|         3|
|  Karen| 31|         7|
| Daniel| 24|         5|
+-------+---+----------+

+----------+-------+
|experience|   name|
+----------+-------+
|         2|   John|
|         5|  Alice|
|         8|    Bob|
|         1|  Sarah|
|        12|Michael|
|         6|  Emily|
|         3|  David|
|         7|  Karen|
|         5| Daniel|
+----------+-------+

# ***HOW TO CHECK THE DATATYPES***

---
âœŒ

In [ ]:
df.dtypes
df.describe().show()

+-------+-----+------------------+-----------------+
|summary| name|               age|       experience|
+-------+-----+------------------+-----------------+
|  count|    9|                 9|                9|
|   mean| null| 28.11111111111111|5.444444444444445|
| stddev| null|4.8074017006186525|3.358240279934981|
|    min|Alice|                21|                1|
|    max|Sarah|                37|               12|
+-------+-----+------------------+-----------------+

# ADD NEW COLUMN DELETE A CLOUMN
â“‚

In [ ]:
df=df.withColumn('ex2',df['experience']+2 )
df.show()
#now if i want to drop a column
df=df.drop("ex2",'name ki ma ki').show()

+-------+---+----------+---+
|   name|age|experience|ex2|
+-------+---+----------+---+
|   John| 25|         2|  4|
|  Alice| 28|         5|  7|
|    Bob| 32|         8| 10|
|  Sarah| 21|         1|  3|
|Michael| 37|        12| 14|
|  Emily| 29|         6|  8|
|  David| 26|         3|  5|
|  Karen| 31|         7|  9|
| Daniel| 24|         5|  7|
+-------+---+----------+---+

+-------+---+----------+
|   name|age|experience|
+-------+---+----------+
|   John| 25|         2|
|  Alice| 28|         5|
|    Bob| 32|         8|
|  Sarah| 21|         1|
|Michael| 37|        12|
|  Emily| 29|         6|
|  David| 26|         3|
|  Karen| 31|         7|
| Daniel| 24|         5|
+-------+---+----------+

In [ ]:
df=df.withColumnRenamed('name','naam').show()

+-------+----+----------+------+
|   naam| age|experience|salary|
+-------+----+----------+------+
|   John|  25|         2|  2000|
|  Alice|  28|         5| 20000|
|    Bob|  32|         8| 19999|
|  Sarah|null|         1|  null|
|Michael|  37|        12|  3434|
|  Emily|  29|         6|   676|
|  David|  26|         3|  null|
|  Karen|  31|         7|  3434|
| Daniel|  24|         5|    34|
|    sam|null|         0|  null|
+-------+----+----------+------+

# ***`HOW TO DELETE THE NULL COLUMNS`***

In [ ]:
df.show()
# df=df.na.drop()
# df.show()
#how if how=all than it will drop if the whole row is null and if how = anny than it drop if any row is null
#df=df.na.drop(how='all').show()
# df=df.na.drop(how='any')
# df.show()
##subset

df.na.drop(how='all',subset=['age']).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   John|  25|         2|  2000|
|  Alice|  28|         5| 20000|
|    Bob|  32|         8| 19999|
|  Sarah|null|         1|  null|
|Michael|  37|        12|  3434|
|  Emily|  29|         6|   676|
|  David|  26|         3|  null|
|  Karen|  31|         7|  3434|
| Daniel|  24|         5|    34|
|    sam|null|      null|  null|
|   eaam|  23|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   John| 25|         2|  2000|
|  Alice| 28|         5| 20000|
|    Bob| 32|         8| 19999|
|Michael| 37|        12|  3434|
|  Emily| 29|         6|   676|
|  David| 26|         3|  null|
|  Karen| 31|         7|  3434|
| Daniel| 24|         5|    34|
|   eaam| 23|      null|  null|
+-------+---+----------+------+

# ***`FILLING THE MSSING RECODS:`***
âœŠ

In [ ]:
df.na.fill('Missing values',['age']).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   John|  25|         2|  2000|
|  Alice|  28|         5| 20000|
|    Bob|  32|         8| 19999|
|  Sarah|null|         1|  null|
|Michael|  37|        12|  3434|
|  Emily|  29|         6|   676|
|  David|  26|         3|  null|
|  Karen|  31|         7|  3434|
| Daniel|  24|         5|    34|
|    sam|null|      null|  null|
|   eaam|  23|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

# ***`FILTER OPERATION IN PYSPARK:`***
âœŒ

In [ ]:
df.show()
df.filter(('salary>=1000')).select('name').show()
#if i want to select omly few columns on the basis of this ill go for select
df.filter((df['salary']>=1000) | (df['age']>=18)).show()# this is hoe we use multiple filter
# now we will go for the not operation 
df.filter(~(df['salary'] <= 1000)).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|   John|  25|         2|  2000|
|  Alice|  28|         5| 20000|
|    Bob|  32|         8| 19999|
|  Sarah|null|         1|  null|
|Michael|  37|        12|  3434|
|  Emily|  29|         6|   676|
|  David|  26|         3|  null|
|  Karen|  31|         7|  3434|
| Daniel|  24|         5|    34|
|    sam|null|      null|  null|
|   eaam|  23|      null|  null|
|   null|null|      null|  null|
+-------+----+----------+------+

+-------+
|   name|
+-------+
|   John|
|  Alice|
|    Bob|
|Michael|
|  Karen|
+-------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   John| 25|         2|  2000|
|  Alice| 28|         5| 20000|
|    Bob| 32|         8| 19999|
|Michael| 37|        12|  3434|
|  Emily| 29|         6|   676|
|  David| 26|         3|  null|
|  Karen| 31|         7|  3434|
| Daniel| 24|         5|    34|
|   eaam| 23|      null|  null|
+-------+---+----------+------+

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|   John| 25|         2|  2000|
|  Alice| 28|         5| 20000|
|    Bob| 32|         8| 19999|
|Michael| 37|        12|  3434|
|  Karen| 31|         7|  3434|
+-------+---+----------+------+

# GROUP BY AND AGGREGATE FUNCTION IN **PYSPARK** *:*
ðŸ’¯

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('tiwariji').getOrCreate()
spark

In [ ]:
data1=spark.read.csv("/content/sparkcsv.txt",header=True,inferSchema=True)
data1.show()

+-------+------+----------+
|   name|salary|department|
+-------+------+----------+
|  Alice| 50000|        HR|
|    Bob| 60000|        IT|
|Charlie| 55000|        HR|
|  David| 65000|        IT|
|  Emily| 45000|   Finance|
|  Frank| 70000|        IT|
|  Alice| 55000|        HR|
|  Henry| 80000| Marketing|
|  Isaac| 60000|        IT|
+-------+------+----------+

In [ ]:
#finding the max salary according to the name
#data1.groupBy('name').sum().show()
data1.groupBy('department').sum().orderBy('sum(salary)',ascending=False).show()
data1.groupBy('department').mean().show()
data1.groupBy('department').count().show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|        IT|     255000|
|        HR|     160000|
| Marketing|      80000|
|   Finance|      45000|
+----------+-----------+

+----------+------------------+
|department|       avg(salary)|
+----------+------------------+
|        HR|53333.333333333336|
|   Finance|           45000.0|
| Marketing|           80000.0|
|        IT|           63750.0|
+----------+------------------+

+----------+-----+
|department|count|
+----------+-----+
|        HR|    3|
|   Finance|    1|
| Marketing|    1|
|        IT|    4|
+----------+-----+

In [ ]:
#we can use the aggregate function like this too
data1.agg({'salary':'mean'}).show()

+-----------+
|avg(salary)|
+-----------+
|    60000.0|
+-----------+

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
sc.stop

NameError: ignored